.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    width: 100vw;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Use grid-template-columns instead of shorthand */
    justify-items: center;
}