.offers {
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 5rem;
    padding: 0px 20px; 
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  }
  
  .offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .offers-left h1 {
    color: #171717;
    font-size: 50px; 
    font-weight: 600;
  }
  
  .offers-left p {
    color: #171717;
    font-size: 18px; 
    font-weight: 600;
  }
  
  .offers-left button {
    width: 200px; 
    height: 50px; 
    border-radius: 25px; 
    background: #ff4141;
    border: none;
    color: white;
    font-size: 18px; 
    font-weight: 500;
    margin-top: 20px; 
    cursor: pointer;
  }
  
  .offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px; 
  }

  .check-out{
    display: flex;
    justify-content: center;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .offers {
      flex-direction: column; 
      width: 100%;
      padding: 0 20px;
    }
  
    .offers-left h1,
    .offers-left p,
    .offers-left button {
      text-align: center; 
    }
  
    .offers-right {
      justify-content: center; 
      padding: 20px;
    }

    .offers-right img{
        margin-top: 50px;
        width: 300px;
    }
  }
  